
data_banknote_authentification.csv
eagle_50px.jpg
eagle_smaller.jpg
eagle.jpg
GeeksForGeeks_kod.ipynb
image.png
image2.png
krugovi.ipynb
Medium_from_scratch.ipynb
Ncut_method.ipynb
shreesh_basic.ipynb